* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #343a40;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: #495057;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
